<?xml version="1.0" encoding="utf-8"?>
<!--
  ~ AndroidManifest.xml
  ~ Copyright (c) livodeu 2021.
  ~ This source code is subject to the license to be found in the file LICENSE.
  -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="net.cellar"
    android:installLocation="internalOnly">

        <application>
                <activity
                    android:name=".GetContentActivity"
                    android:configChanges="keyboard|keyboardHidden|navigation|orientation|screenLayout|screenSize|smallestScreenSize|uiMode"
                    android:exported="false"
                    android:windowSoftInputMode="stateAlwaysHidden"
                    />
        </application>
</manifest>
